body{
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    background-attachment: fixed;
    margin: 0;
    font-family: 'poppins',sans-serif;
    font-size:larger;
}

#form{
    width: 400px;
    margin: 20vh auto 0 auto;
    background-color: beige;
    border-radius: 10px;
    padding: 30px;    

}  
h1{
    text-align: center;
    color: blue;
}
#form button{
    background-color:blue ;
    color: aliceblue;
    border-radius: 5px;
    border: 1px solid blue;
    margin: 20px 0;
    padding: 5px;
    cursor:pointer;
    font-size: 20px;
    width: 100%;
}
.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input-group input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid rgb(35, 119, 152);
}
.input-group input:focus{
    outline: 0;
}    
.input-group .error{
    color: red;
    font-size: 15px;
    margin-top: 5px;
}
.input-group.success input{
    border-color:green;
}
.input-group.error input{
    border-color: red;
}





    